{{> header}}
<img src="https://i.iplsc.com/hubert-urbanski/000DE38P49Y1ABPP-C122-F4.jpg"/>
<h3>{{question.text}}</h3>
<h3>A: {{question.possibleAnswers.A}}</h3>
<h3>B: {{question.possibleAnswers.B}}</h3>
<h3>C: {{question.possibleAnswers.C}}</h3>
<h3>D: {{question.possibleAnswers.D}}</h3>
{{> footer}}